<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender"> 
  	<param name="Target" value="System.out"/> 
	    <layout class="org.apache.log4j.PatternLayout"> 
	        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" /> 
	    </layout> 
	</appender> 
    
    <appender name="D" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/home/SOHO/data/web/logs/pay-debug.log" /> 
       	<param name="Threshold" value="DEBUG"/>  
	    <param name="Append" value="true" /> 
	    <layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%C-%M]%m%n" /> 
   	    </layout> 
   	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="DEBUG" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>
    
     <appender name="I" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/home/SOHO/data/web/logs/pay-info.log" /> 
 		<param name="Threshold" value="INFO"/>  
	    <param name="Append" value="true" /> 
	    <layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="%d{HH:mm:ss}\t%m%n" /> 
   	    </layout> 
   	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="INFO" />
            <param name="LevelMin" value="INFO" />
        </filter>
    </appender>
    
     <appender name="W" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/home/SOHO/data/web/logs/pay-warn.log" /> 
 		<param name="Threshold" value="WARN"/>  
	    <param name="Append" value="true" /> 
	    <layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="%d{HH:mm:ss}\t%m%n" /> 
   	    </layout> 
    </appender>
	
	<appender name="ACP_SDK_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/home/SOHO/data/web/logs/acpsdk.log" /> 
       	<param name="Threshold" value="DEBUG"/>  
	    <param name="Append" value="true" /> 
	    <layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%C-%M]%m%n" /> 
   	    </layout> 
   	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="DEBUG" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>
    
     <appender name="SDK_MSG_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/home/SOHO/data/web/logs/acpsdk-message.log" /> 
 		<param name="Threshold" value="INFO"/>  
	    <param name="Append" value="true" /> 
	    <layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="%d{HH:mm:ss}\t%m%n" /> 
   	    </layout> 
   	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="INFO" />
            <param name="LevelMin" value="INFO" />
        </filter>
    </appender>
    
     <appender name="SDK_ERR_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/home/SOHO/data/web/logs/acpsdk-error.log" /> 
 		<param name="Threshold" value="WARN"/>  
	    <param name="Append" value="true" /> 
	    <layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="%d{HH:mm:ss}\t%m%n" /> 
   	    </layout> 
    </appender>
    
    <!-- 若想在测试机调试，将level设置成DEBUG,并将ref改成I,D,W即可调试 -->
    <logger name="com.pay">
        <level value="DEBUG"/>
        <appender-ref ref="D"/>
    </logger>
	<logger name="com.unionpay">
        <level value="DEBUG"/>
        <appender-ref ref="ACP_SDK_LOG"/>
    </logger>
     <logger name="com.mchange.v2.resourcepool.BasicResourcePool">
        <level value="INFO"/>
       <appender-ref ref="I"/>
    </logger>
    <root>
        <level value="WARN"/>
         <appender-ref ref="W"/>
    </root>
</log4j:configuration>
